* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  background: white;
  width: 400px;
  height: 600px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 9);
  align-self: auto;
}
.container .email {
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  border-radius: 5px;
  background: #f5f5f5;
  border-radius: 15px;
  font-size: large;
  border: 1px solid rgb(#31a3a3);
  transition: 0.4s;
}
.container .password {
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  border-radius: 5px;
  background: #f5f5f5;
  border-radius: 15px;
  font-size: large;
  border: 1px solid rgb(#31a3a3);
  transition: 0.4s;
}
.email:focus {
  box-shadow: 0 0 30px #9271f0;
}
.password:focus {
  box-shadow: 0 0 30px #9271f0;
}

.container p {
  margin: 10px 10px 30px;
  opacity: 0.5;
  transition: 0.3s;
}

.container p span {
  font-size: 22px;

  margin-left: 45px;
}

.fa-times {
  font-size: 22px;
  color: rgb(35, 241, 7);
  margin-left: 45px;
  opacity: 0;
  border: 2px solid rgb(35, 241, 7);
}
.fa-checks {
  font-size: 22px;
  color: rgb(35, 241, 7);
  margin-left: 45px;
  opacity: 1;
  border: 2px solid rgb(35, 241, 7);
}

.container p .icon {
  margin: 0px 5px 30px;
  position: absolute;
  text-align: center;
  width: 25px;
  height: 22px;
  line-height: 15px;
  font-size: large;
  border-radius: 50%;
  color: rgb(26, 43, 68);
  border: 2px solid rgb(26, 43, 68);
}
.container #show_hide {
  color: rgb(26, 43, 68);
  font-size: 22px;
  transform: translateX(260px) translateY(-34px);
  cursor: pointer;
}
.container label {
  justify-content: flex;
  font-size: 20px;
  font-weight: bold;
  float: right;
  width: 290px;
  line-height: 2;
  line-break: 2;
}

.container h1 {
  margin: 0px 10px 10px;
  width: 590px;
  padding: 0 10px 0 70px;
  height: 22px;
  line-height: 0px;
}
.container .save-btn {
  color: #fff;
  font-size: 22px;
  background: #29ca8e;
  widht: 250px;
  height: 40px;
}
